<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="fullFilePath" value="F:\台站客户端（2017.4.18）\台站值班客户端.exe" />
    <add key="autoReatart" value="true" />
    <add key="silent" value="true" />
    <add key="sysShow" value="tv" />
    <add key="stationVer" value="2017.04.18" />
    <add key="sha1" value="53e52b53b7394ee221e9741bf9391ee1d278bfe2" />
    <add key="userName" value="bs247t" />
    <add key="passWord" value="bs247t" />
    <add key="rebootHour" value="2" />
    <add key="rebootMin" value="30" />
    <add key="rebootSec" value="0" />
    <add key="version" value="1.12" />
    <add key="releaseDate" value="2019.09.25" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>